@import '../variable.css';

.wrapper_sidebar{
  position: fixed;
  height: 100%;
  width: var(--sidebar-width);
  top: 0;
  left: 0;
  background: var(--color-bg);  
}

.container_sidebar{
  margin: 10px 0;
}

.user_area{
  display: flex;
  width: var(--sidebar-width);
  height: var(--sidebar-width);
  align-items: center;
  justify-content: center;
}

.avatar_user{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url('https://storage.live.com/Users/-8489227413820336200/MyProfile/ExpressionProfile/ProfilePhoto:Win8Static,UserTileMedium,UserTileStatic');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.10);
}

.nav_wrapper{
  margin: 60px 0;
  width: var(--sidebar-width);
}

.nav_wrapper ul{
  list-style: none;
  width: 100%;
}

.sidebar_items i[class=material-icons]{
  font-size: 20px;
}

.sidebar_items{
  display: flex;
  width: 100%;
  height: var(--sidebar-width);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #B4CFA8;
  cursor: pointer;
  will-change: color .3s, background .2s ease;
  transition: color .3s, background .2s ease;
}

.sidebar_items:hover{
  color: #F6F7F9;
  background: rgba(255,255,255,.3);
}

.active{
  color: #F6F7F9 !important;
  background: #93D296;
}