@import '../variable.css';

html {
  font-family: Roboto, Helvetica, Arial, sans-serif;

  /* Prevent iOS and IE text size adjust after device orientation change,
   * without disabling user zoom. */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: var(--color-bg-body);
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

a {
  /* Remove the gray background color from active links in IE 10. */
  background-color: transparent;
}

a:active,
a:hover {
  /* Improve readability of focused elements when they are also in an
   * active/hover state. */
  outline: 0;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

.root {
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  height: 100%;
  width: calc(100% - var(--sidebar-width));
  top: 0;
  left: var(--sidebar-width);
  overflow: auto;
  padding: 0 30px;
  background: #fafafa;
}
