:root{
  /* cores */
  --color-bg:  #63BB67;
  --color-body: #F6F7F9;
  --color-body-sec: #E7E6E7;

  /* header variable */
  --header-height: 45px;

  /* sidebar variable */
  --sidebar-width: 50px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}