@import '../variable.css';

/* variaveis locais*/
:root{
  --topo-height: 45px;
}

.wrapper_sidemenu{
  width: 25%;
  height: 100%;
  padding-top: 30px;
  background: var(--color-body-sec);
}

.topo_sidemenu{
  display: flex;
  width: 100%;
  height: var(--topo-height);
  /* padding: 0 15px; */
}

.button_icon{
  display: flex;
  width: var(--topo-height);
  height: 100%;
  align-items: center;
  justify-content: center;
  /* border-radius: 2px; */
  color: #4C4956;
  cursor: pointer;
  will-change: background;
  transition: background .3s ease;
}

.button_icon i[class=material-icons]{
  font-size: 22px;
}

.button_icon:hover{
  background: rgba(0,0,0,.05);
}

.topo_title{
  display: flex;
  height: 100%;
  width: calc(100% - var(--topo-height));
  color: #4C4956;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: .2px;
  align-items: center;
  padding: 0 10px;
}